extends layout

block content
  div#navbar.flex-container
    img(src="/images/islogo.png" class="img-responsive flex-1")

    h1.brand.flex-4 INTERNET SOLUTIONS


  div.body_container
    img(src="/images/bg_logo.jpg" width="100%" class="trans")
    div.flex-container.main
      div
        h3 EMPLOYEE INSURANCE INFORMATION
      div(ui-view)



  h1= title
  p Welcome to #{title}
