extends layout

block content
  div#navbar.flex-container
    img(src="/images/islogo.png" class="img-responsive")
    div.spacer
    h1.brand INTERNET SOLUTIONS


  div.body_container
    img(src="/images/bg_logo.jpg" width="100%" class="trans")
    div.flex-container.main
      div.black
        h1 EMPLOYEE INSURANCE INFORMATION
      div.blue
        h1 Black



  h1= title
  p Welcome to #{title}
